# FastAPI Backend Configuration
APP_NAME="AI Weather Nowcast API"
APP_ENV=development
DEBUG=True
HOST=127.0.0.1
PORT=8000

# CORS
ALLOWED_ORIGINS=["http://localhost:5173", "http://127.0.0.1:5173"]

# Database Connection
DATABASE_URL=sqlite:///../database/weather_nowcast.db

# ML Model Paths
MODELS_DIR=../models
THUNDERSTORM_MODEL_PATH=../models/thunderstorm_xgb_v1.joblib
LIGHTNING_MODEL_PATH=../models/lightning_xgb_v1.joblib
